<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="connectionStrings" 
             type="System.Configuration.ConnectionStringsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
  </configSections>
  
  <connectionStrings>
    <add name="MaqboolFashionDB"
         connectionString="Data Source=PROBOOK\SQL2022;Initial Catalog=MaqboolFashionDB;Integrated Security=SSPI;Encrypt=False;TrustServerCertificate=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>